.image {
  display: block;
  position: relative;
  overflow: hidden;

  aspect-ratio: var(--aspect-ratio-mobile);

  @include media-query("tablet-wide") {
    aspect-ratio: var(--aspect-ratio-desktop);
  }

  &--desktop {
    display: none;
    @include media-query("tablet-wide") {
      display: block;
    }
  }

  &--mobile {
    display: block;
    @include media-query("tablet-wide") {
      display: none;
    }
  }
}

.image div .image__overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  [data-media-slide-container] & {
   top: initial; 
  }
}

.image > * {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.image > img {
  object-fit: cover;
  object-position: center center;
}

.image div {
  display: flex;
  width: 100%;
  height: 100%;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  
  [data-media-slide-container] & {
    align-items: flex-end;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: var(--object-position-mobile);

    @include media-query("tablet-wide") {
      object-position: var(--object-position-desktop);
    }
  }
}
