<div>
  <h2 class="title h2">ASAP</h2>
  <p class="p-2">
    <span class="uc">abcdefghijklmnopqrstuvwxyz</span><br />
    abcdefghijklmnopqrstuvwxyz<br />
    0123456789<br />
    ! ? $ @ # & % { } ( ) 45° ½ © ® ™ <br />
    ↑ ↓ ← →
  </p>
</div>
<div class="hide-desktop"><hr /></div>
<div>
  <h6>Heading Styles</h6>
  <h1 class="h1">Heading 1</h1>
  <h2 class="h2">Heading 2</h2>
  <h3 class="h3">Heading 3</h3>
  <h4 class="h4">Heading 4</h4>
  <h5 class="h5">Heading 5</h5>
  <h6 class="h6">Heading 6</h6>

  <p class="s-1">Subheading 1</p>
  
  <hr />
  <h6>Paragraph Styles</h6>
  <p class="p-1 w-semibold">
    P1 - Semibold
  </p>
  <p class="p-1 w-medium">
    P1 - Medium
  </p>
  <p class="p-1 w-regular">
    P1 - Regular
  </p>
  <p class="p-2 w-semibold">
    P2 - Semibold
  </p>
  <p class="p-2 w-medium">
    P2 - Medium
  </p>
  <p class="p-2 w-regular">
    P2 - Regular
  </p>
  <p class="p-3 w-semibold">
    P3 - Semibold
  </p>
  <p class="p-3 w-medium">
    P3 - Medium
  </p>
  <p class="p-3 w-regular">
    P3 - Regular
  </p>
  <p class="p-4 w-semibold">
    P4 - Semibold
  </p>
  <p class="p-4 w-medium">
    P4 - Medium
  </p>
  <p class="p-4 w-regular">
    P4 - Regular
  </p>
  <p class="p-5 w-semibold">
    P5 - Semibold
  </p>
  <p class="p-5 w-medium">
    P5 - Medium
  </p>
  <p class="p-5 w-regular">
    P5 - Regular
  </p>
</div>
