<div class="styleguide__logo bg-white color-white">
  <svg width="720" height="560" viewBox="0 0 720 560" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="720" height="560" fill="white" />
    <g clip-path="url(#clip0_1_1809)">
      <path
        d="M359.936 220C334.718 220 311.686 225.694 291.825 233.595C291.825 233.595 291.784 233.615 291.767 233.623C291.52 233.772 291.434 234.052 291.578 234.249C291.66 234.364 291.858 234.455 291.993 234.43C292.076 234.414 292.232 234.373 292.322 234.336C310.342 227.477 332.51 223.215 353.745 223.059C399.602 222.713 450.561 244.501 490.933 289.06C496.94 284.082 500.418 280.648 500.932 280.134C500.977 280.089 500.998 280.068 500.998 280.068C501.002 280.068 441.717 220 359.936 220Z"
        fill="#33B1E7" />
      <path
        d="M428.328 325.788C428.278 325.718 428.085 325.562 427.826 325.623C427.826 325.623 427.728 325.648 427.678 325.664C409.659 332.523 387.491 336.785 366.252 336.945C320.395 337.291 269.436 315.504 229.063 270.945C223.056 275.922 219.578 279.352 219.064 279.866C219.019 279.912 218.999 279.932 218.999 279.932C218.999 279.932 278.283 340 360.064 340C385.283 340 408.215 334.347 428.077 326.447C428.077 326.447 428.118 326.426 428.135 326.414C428.381 326.266 428.463 325.986 428.324 325.788H428.328Z"
        fill="#92BB1F" />
      <path
        d="M433.676 260.838C431.567 260.838 429.782 262.493 429.782 264.704C429.782 266.915 431.567 268.603 433.676 268.603C435.785 268.603 437.577 266.956 437.577 264.704C437.577 262.452 435.793 260.838 433.676 260.838ZM433.676 267.833C431.974 267.833 430.65 266.511 430.65 264.704C430.65 262.897 431.974 261.604 433.676 261.604C435.378 261.604 436.685 262.93 436.685 264.704C436.685 266.479 435.374 267.833 433.676 267.833Z"
        fill="#003A81" />
      <path
        d="M435.368 264.041C435.368 263.263 434.743 262.711 433.962 262.711H432.301V266.701H433.094V265.404H433.707L434.439 266.701H435.323L434.529 265.297C435.035 265.083 435.368 264.609 435.368 264.041ZM433.843 264.716H433.094V263.382H433.843C434.299 263.382 434.513 263.658 434.513 264.041C434.513 264.453 434.27 264.716 433.843 264.716Z"
        fill="#003A81" />
      <path
        d="M346.968 261.062H320.22V298.824H346.968C348.707 298.824 350.121 297.408 350.121 295.67V294.361H328.936V281.565H343.448C345.187 281.565 346.602 280.149 346.602 278.412V277.102H328.936V265.529H350.121V264.22C350.121 262.479 348.711 261.062 346.968 261.062Z"
        fill="#003A81" />
      <path
        d="M312.054 261.062H279.99C278.251 261.062 276.836 262.479 276.836 264.216V265.521H291.658V298.824H300.386V265.521H315.207V264.216C315.207 262.479 313.793 261.062 312.054 261.062Z"
        fill="#003A81" />
      <path
        d="M384.802 264.216V286.506L363.748 263.257C362.478 261.857 360.681 261.062 358.794 261.062H355.731V298.824H358.079C359.818 298.824 361.228 297.412 361.228 295.67V273.257L382.467 296.638C383.733 298.029 385.53 298.824 387.413 298.824H390.295V261.062H387.947C386.208 261.062 384.798 262.474 384.798 264.216H384.802Z"
        fill="#003A81" />
      <path
        d="M415.041 261.062H411.546C406.625 261.062 403.788 264.002 402.629 268.349L394.472 298.824H397.761C399.188 298.824 400.438 297.865 400.804 296.485L403.274 287.259H421.393L423.855 296.485C424.225 297.865 425.475 298.824 426.898 298.824H433.274L425.446 269.473C424.094 264.405 420.854 261.062 415.041 261.062ZM404.471 282.8L408.36 268.271C408.792 266.653 410.148 265.542 411.818 265.525H412.952C414.86 265.525 415.892 266.641 416.328 268.271L420.205 282.8H404.471Z"
        fill="#003A81" />
    </g>
    <defs>
      <clipPath id="clip0_1_1809">
        <rect width="282" height="120" fill="white" transform="translate(219 220)" />
      </clipPath>
    </defs>
  </svg>
</div>
<div class="styleguide__logo bg-penn-dark-blue color-white">
  <svg width="720" height="560" viewBox="0 0 720 560" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="720" height="560" fill="#001F5F" />
    <g clip-path="url(#clip0_1_1821)">
      <path
        d="M359.936 220C334.718 220 311.686 225.694 291.825 233.595C291.825 233.595 291.784 233.615 291.767 233.623C291.52 233.772 291.434 234.052 291.578 234.249C291.66 234.364 291.858 234.455 291.993 234.43C292.076 234.414 292.232 234.373 292.322 234.336C310.342 227.477 332.51 223.215 353.745 223.059C399.602 222.713 450.561 244.501 490.933 289.06C496.94 284.082 500.418 280.648 500.932 280.134C500.977 280.089 500.998 280.068 500.998 280.068C501.002 280.068 441.717 220 359.936 220Z"
        fill="white" />
      <path
        d="M428.328 325.788C428.278 325.718 428.085 325.562 427.826 325.623C427.826 325.623 427.728 325.648 427.678 325.664C409.659 332.523 387.491 336.785 366.252 336.945C320.395 337.291 269.436 315.504 229.063 270.945C223.056 275.922 219.578 279.352 219.064 279.866C219.019 279.912 218.999 279.932 218.999 279.932C218.999 279.932 278.283 340 360.064 340C385.283 340 408.215 334.347 428.077 326.447C428.077 326.447 428.118 326.426 428.135 326.414C428.381 326.266 428.463 325.986 428.324 325.788H428.328Z"
        fill="white" />
      <path
        d="M433.676 260.838C431.567 260.838 429.782 262.493 429.782 264.704C429.782 266.915 431.567 268.603 433.676 268.603C435.785 268.603 437.577 266.956 437.577 264.704C437.577 262.452 435.793 260.838 433.676 260.838ZM433.676 267.833C431.974 267.833 430.65 266.511 430.65 264.704C430.65 262.897 431.974 261.604 433.676 261.604C435.378 261.604 436.685 262.93 436.685 264.704C436.685 266.479 435.374 267.833 433.676 267.833Z"
        fill="white" />
      <path
        d="M435.368 264.041C435.368 263.263 434.743 262.711 433.962 262.711H432.301V266.701H433.094V265.404H433.707L434.439 266.701H435.323L434.529 265.297C435.035 265.083 435.368 264.609 435.368 264.041ZM433.843 264.716H433.094V263.382H433.843C434.299 263.382 434.513 263.658 434.513 264.041C434.513 264.453 434.27 264.716 433.843 264.716Z"
        fill="white" />
      <path
        d="M346.968 261.062H320.22V298.824H346.968C348.707 298.824 350.121 297.408 350.121 295.67V294.361H328.936V281.565H343.448C345.187 281.565 346.602 280.149 346.602 278.412V277.102H328.936V265.529H350.121V264.22C350.121 262.479 348.711 261.062 346.968 261.062Z"
        fill="white" />
      <path
        d="M312.054 261.062H279.99C278.251 261.062 276.836 262.479 276.836 264.216V265.521H291.658V298.824H300.386V265.521H315.207V264.216C315.207 262.479 313.793 261.062 312.054 261.062Z"
        fill="white" />
      <path
        d="M384.802 264.216V286.506L363.748 263.257C362.478 261.857 360.681 261.062 358.794 261.062H355.731V298.824H358.079C359.818 298.824 361.228 297.412 361.228 295.67V273.257L382.467 296.638C383.733 298.029 385.53 298.824 387.413 298.824H390.295V261.062H387.947C386.208 261.062 384.798 262.474 384.798 264.216H384.802Z"
        fill="white" />
      <path
        d="M415.041 261.062H411.546C406.625 261.062 403.788 264.002 402.629 268.349L394.472 298.824H397.761C399.188 298.824 400.438 297.865 400.804 296.485L403.274 287.259H421.393L423.855 296.485C424.225 297.865 425.475 298.824 426.898 298.824H433.274L425.446 269.473C424.094 264.405 420.854 261.062 415.041 261.062ZM404.471 282.8L408.36 268.271C408.792 266.653 410.148 265.542 411.818 265.525H412.952C414.86 265.525 415.892 266.641 416.328 268.271L420.205 282.8H404.471Z"
        fill="white" />
    </g>
    <defs>
      <clipPath id="clip0_1_1821">
        <rect width="282" height="120" fill="white" transform="translate(219 220)" />
      </clipPath>
    </defs>
  </svg>

</div>