<div>
  <h6 class="hide-mobile">Desktop</h6>
  <p class="hide-mobile p3">Margin 32px | Gutter 16px</p>
  <h6 class="hide-desktop">Mobile</h6>
  <p class="hide-desktop p3">Margin 16px | Gutter 16px</p>
  <div class="grid">
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
  </div>
</div>